*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
::-webkit-scrollbar{
  background: #122C44;
  width: 8px;
}
::-webkit-scrollbar-thumb{
  background: #555;
  border-radius: 5px;
}